<app-breadcum [pageName]="currentPage"></app-breadcum>
<!-- Map Info Start -->
<section class="map-info v1">
    <div class="container">
        <div class="contact-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.715010556832!2d85.77481907493262!3d20.270650813385338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a704fba82703%3A0x47351032ec014efa!2sANANDA%20VIHAR!5e0!3m2!1sen!2sin!4v1703395723840!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <ul class="contact-info">
            <li>
                <div class="my-icon fa fa-phone"></div>
                <div class="text">
                    <h4>Contacts</h4>
                    <p><a href="#">(+91) 7978113399</a></p>
                </div>
            </li>
            <li>
                <div class="my-icon fa fa-envelope-open-o"></div>
                <div class="text">
                    <h4>Email</h4>
                    <p><a href="#">sreyanshienterprises22@gmail.com</a></p>
                </div>
            </li>
            <li>
                <div class="my-icon fa fa-home"></div>
                <div class="text">
                    <h4>Location</h4>
                    <p>99 Ohio,America</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Map Info End -->
<!-- Contact Us Start -->
<section class="contact-us v3">
    <div class="container">
        <div class="section-title-center">
            <h2>Love to Hear From You..</h2>
            <p>"The farmer is the only man in our economy who buys everything at retail, sells everything at wholesale, and pays the freight both ways."</p>
        </div>
        <form action="https://techsometimes.com/products/html/farmus-html/assets/mail.php" method="POST"
            class="message-form v3">
            <div class="group-box">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
            </div>
            <textarea name="message" placeholder="Message"></textarea>
            <button type="submit" class="btn-anime v1 submit-btn">submit now</button>
            <p class="response"></p>
        </form>
    </div>
</section>
<!-- Contact Us End -->