<!-- Breadcum Start -->
<section class="breadcum v1 bg-cover-center">
    <div class="container">
        <div class="breadcum-content">
            <h2>{{pageName}}</h2>
            <ul>
                <li><a [routerLink]="['/']">Home</a></li>
                <li>{{pageName}}</li>
            </ul>
        </div>
    </div>
    <div class="line-shap" data-background="assets/img/banner/v1/line-shap.svg"></div>
    <div class="right-bottom-shap" data-background="assets/img/banner/v1/right-bottom-shap.png"></div>
</section>
<!-- Breadcum End -->