<footer>
    <!-- Info Footer Start -->
    <div class="info-footer bg-cover-center v1" data-background="../../../assets/images/footer_bg3.jpg" style="background-image: url(&quot;../../../../../assets/images/footer_bg3.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-6">
                    <div class="footer__widget">
                        <h4>IF YOU WANT TO UPDATE ? <br> STAY CONECTED!</h4>
                        <div class="subscriber">
                            <form action="#" class="sent-email">
                                <input type="email" placeholder="Your e-mail address">
                                <button class="btn-anime v1" type="submit">SUBSCRIBE NOW</button>
                            </form>
                        </div>
                        <ul class="address-info">
                            <li>
                                <div class="icon-title">
                                    <div class="my-icon fa fa-volume-control-phone"></div>
                                    <h5>CONTACT US</h5>
                                </div>
                                <ul class="text-info">
                                    <li>
                                        <p class="font15"><a href="#">sreyanshienterprises22@gmail.com</a></p>
                                    </li>
                                    <li>
                                        <p><a href="#">+91-7978113399</a></p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="icon-title">
                                    <div class="my-icon fa fa-map-marker"></div>
                                    <h5>ADDRESS</h5>
                                </div>
                                <ul class="text-info">
                                    <li>
                                        <p>SREYANSI ENTERPRISES PVT Ltd, Bhubaneswar, Odisha.</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer__widget">
                        <h5 class="footer__widget-title">Important Links</h5>
                        <div class="footer__widget-content">
                            <div class="our-link">
                                <ul>
                                    <li><a [routerLink]="['/']">Home</a></li>
                                    <li><a [routerLink]="['/pages/about']">About Us</a></li>
                                    <li><a [routerLink]="['/pages/about']">Our Team</a></li>
                                    <li><a [routerLink]="['/services/service']">Services</a></li>
                                    <li><a [routerLink]="['/pages/faq']">FAQ section</a></li>
                                    <li><a [routerLink]="['/coming-soon']">Our Channel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="footer__widget">
                        <h5 class="footer__widget-title">Comapny News</h5>
                        <div class="footer__widget-content">
                            <div class="recent-post">
                                <ul>
                                    <li>
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="../../../assets/images/about5.jpg" alt="post-img">
                                            </a>
                                        </div>
                                        <div class="post-text">
                                            <div class="post-time">
                                                <span class="my-icon fa fa-calendar"></span>
                                                <p>October 19, {{year}}</p>
                                            </div>
                                            <h6><a href="#">The standard chunk of Lorem Ipsum</a></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="../../../../assets/images/our-team/team2.jpg" alt="post-img">
                                            </a>
                                        </div>
                                        <div class="post-text">
                                            <div class="post-time">
                                                <span class="my-icon fa fa-calendar"></span>
                                                <p>June 19, {{year-1}}</p>
                                            </div>
                                            <h6><a href="#">The standard chunk of Lorem Ipsum</a></h6>
                                        </div>
                                    </li>
                                </ul>
                                <a class="read-more-link" [routerLink]="['/coming-soon']"><span class="my-icon icon-plus"></span> Read More news</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <div class="social-link">
                    <ul>
                        <li><a href="https://twitter.com/" target="_blank"><span class="my-icon fa fa-twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank"><span class="my-icon fa fa-facebook-official"></span></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><span class="my-icon fa fa-instagram"></span></a></li>
                     </ul>
                </div>
                <p class="text-muted">© <a href="#">KrishiMulch</a> {{year}}-All Rights Reserved | Developed By Masterpapa</p>
                <div class="link-group">
                    <ul>
                        <li><a [routerLink]="['/coming-soon']">Privacy Policy</a></li>
                        <li><a [routerLink]="['/coming-soon']">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Info Footer End -->
</footer>