<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">Coming Soon</span>
                <br>
                <div class="mb-4 lead">Thanks to farmers, we can eat a wide range of fruits and vegetables all year round.</div>
                <a [routerLink]="['/']" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>