
<div id="home-carousel">
    <app-carousel [carouselData]="carouselDetailsData"></app-carousel>
</div>
  <!-- About Us Start -->
  <section class="about-us v1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-us-img">
                    <div class="count-shap">
                        <h2><span class="counter" data-count-min="10" data-count-max="20" data-count-duration="1000" data-count-delay="200">389</span>+</h2>
                        <h6>Clients</h6>
                    </div>
                    <div class="about-profile" data-aos="zoom-in">
                        <img src="../../../assets/images/about-us/about-img.png" alt="about-img">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-us-content">
                    <div class="section-title">
                        <h6>About Us</h6>
                        <h2>Sustainable Agriculture and Environmental</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Loreaim Ipsum has been the industry's standard dummyLorem Ipsum is an oi simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="about-items-list">
                        <ul class="check-mark-list v1">
                            <li data-aos="fade-down">
                                <span class="my-icon icon-check"></span>
                                <h6>Mistakes To Avoid to the dummy printing has bees ind.</h6>
                            </li>
                            <li data-aos="fade-down">
                                <span class="my-icon icon-check"></span>
                                <h6>Your Startup industry standard loream saum.</h6>
                            </li>
                            <li data-aos="fade-down">
                                <span class="my-icon icon-check"></span>
                                <h6>Knew About Fonts text the printing and something do.</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="profile-and-button">
                        <div class="profile">
                            <div class="profile-img">
                                <img src="../../../assets/images/about-us/profile-img.png" alt="proofile">
                            </div>
                            <div class="profile-text">
                                <p>Agronomist</p>
                                <h5>Leslie Alexander</h5>
                            </div>
                        </div>
                        <a href="#" class="link-anime v1">Discover More +</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us End -->
 <!-- Services Start -->
 <section class="services v1">
    <div class="container">
        <div class="section-title-center">
            <h6>we provide</h6>
            <h2>best mulching product in the India</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="provide-card">
                    <div class="provide-content">
                        <p>Paper 25</p>
                        <h5><a href="service-details.html">Micron Film Sheet</a></h5>
                    </div>
                    <div class="provide-img">
                        <a href="service-details.html">
                            <img src="../../../assets/images/services/card-img-1.jpg" alt="card-img">
                        </a>
                    </div>
                    <div class="provide-icon"><span class="my-icon fa fa-cart-plus"></span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="provide-card">
                    <div class="provide-content">
                        <p>Paper 30</p>
                        <h5><a href="service-details.html">30 Micron Film Sheet</a></h5>
                    </div>
                    <div class="provide-img">
                        <a href="service-details.html">
                            <img src="../../../assets/images/services/card-img-2.jpg" alt="card-img">
                        </a>
                    </div>
                    <div class="provide-icon"><span class="my-icon fa fa-cart-plus"></span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="provide-card">
                    <div class="provide-content">
                        <p>Paper 50</p>
                        <h5><a href="service-details.html">50 Micron b Film Sheet</a></h5>
                    </div>
                    <div class="provide-img">
                        <a href="service-details.html">
                            <img src="../../../assets/images/services/card-img-3.jpg" alt="card-img">
                        </a>
                    </div>
                    <div class="provide-icon"><span class="my-icon fa fa-cart-plus"></span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->
<!-- Projects Gallery Start -->
<section class="projects-gallery v1">
    <div class="container">
        <div class="section-title title-left-right">
            <div class="left-content">
                <h6>gallery</h6>
                <h2>our professionals Gallery mulching industry</h2>
            </div>
            <div class="right-content">
                <a href="#" class="link-anime v1">Discover More +</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <a [routerLink]="['/gallery/mulching']">
                            <img src="../../../assets/images/projects-gallery/gallery-card-1.jpg" alt="gallery-card">
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="info-text">
                            <h6><a [routerLink]="['/gallery/mulching']">Mulching</a></h6>
                            <p>Business Growth</p>
                        </div>
                        <a [routerLink]="['/gallery/mulching']" class="info-link"><span class="my-icon fa fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <a [routerLink]="['/gallery/sprinkler-irrigation']">
                            <img src="../../../assets/images/projects-gallery/gallery-card-2.jpg" alt="gallery-card">
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="info-text">
                            <h6><a [routerLink]="['/gallery/sprinkler-irrigation']">Sprinkler Irrigation</a></h6>
                            <p>Business Growth</p>
                        </div>
                        <a [routerLink]="['/gallery/sprinkler-irrigation']" class="info-link"><span class="my-icon fa fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <a [routerLink]="['/gallery/drip-irrigation']">
                            <img src="../../../assets/images/projects-gallery/gallery-card-3.jpg" alt="gallery-card">
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="info-text">
                            <h6><a [routerLink]="['/gallery/drip-irrigation']">Drip Irrigation</a></h6>
                            <p>Business Growth</p>
                        </div>
                        <a [routerLink]="['/gallery/drip-irrigation']" class="info-link"><span class="my-icon fa fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Projects Gallery End --> 
<!-- Work Process Start -->   
<section class="work-process bg-cover-top v1" data-background="../../../assets/images/work-process/bg.png">
    <div class="container">
        <div class="section-title-center">
            <h6>Our Services</h6>
            <h2>Steps In The Agriculture Process</h2>
            <!-- <p>For your car we will do everything  advice, repairs and maintenance. We are the some preferred choice by many car owners because our experience and knowledge is selfe vident.For your car we will do som everything.</p> -->
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-3" data-aos="fade-left">
                <div class="work-card">
                    <div class="work-card-img">
                        <img src="../../../assets/images/work-process/card-img-1.jpg" alt="card">
                        <div class="my-icon fa fa-tree"></div>
                    </div>
                    <div class="work-card-text">
                        <h4>Drip Irrigation</h4>
                        <p>Lorem Ipsum is simply is dumiomy  Lorem Ipsum is simply</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-left">
                <div class="work-card">
                    <div class="work-card-img">
                        <img src="../../../assets/images/work-process/card-img-2.jpg" alt="card">
                        <div class="my-icon fa fa-tree"></div>
                    </div>
                    <div class="work-card-text">
                        <h4>Mulching</h4>
                        <p>Lorem Ipsum is simply is dumiomy  Lorem Ipsum is simply</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-left">
                <div class="work-card">
                    <div class="work-card-img">
                        <img src="../../../assets/images/work-process/card-img-3.jpg" alt="card">
                        <div class="my-icon fa fa-tree"></div>
                    </div>
                    <div class="work-card-text">
                        <h4>Sprinkler Irrigation</h4>
                        <p>Lorem Ipsum is simply is dumiomy  Lorem Ipsum is simply</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-left">
                <div class="work-card">
                    <div class="work-card-img">
                        <img src="../../../assets/images/work-process/card-img-4.jpg" alt="card">
                        <div class="my-icon fa fa-tree"></div>
                    </div>
                    <div class="work-card-text">
                        <h4>Landscape Irrigation</h4>
                        <p>Lorem Ipsum is simply is dumiomy  Lorem Ipsum is simply</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work Process End -->   
<!-- Counting Items Start -->  
<section class="counting-items mb-xl-spach v1">
    <div class="container">
        <ul class="counting-item-list">
            <li>
                <div class="my-icon fa fa-trophy"></div>
                <div class="counting-item-text">
                    <h2><span class="counter" data-count-min="10" data-count-max="20" data-count-duration="1000" data-count-delay="200">20</span>+</h2>
                    <h5>Winning award</h5>
                    <p>Lorem Ipsum is simply is dumi omy iois text Loremo Ipsum is simiply is out nho our o dummy text.</p>
                </div>
            </li>
            <li>
                <div class="my-icon fa fa-book"></div>
                <div class="counting-item-text">
                    <h2><span class="counter" data-count-min="1" data-count-max="10" data-count-duration="1000" data-count-delay="200">10</span>k+</h2>
                    <h5>Complete project</h5>
                    <p>Lorem Ipsum is simply is dumi omy iois text Loremo Ipsum is simiply is out nho our o dummy text.</p>
                </div>
            </li>
            <li>
                <div class="my-icon fa fa-usd"></div>
                <div class="counting-item-text">
                    <h2><span class="counter" data-count-min="800" data-count-max="900" data-count-duration="1000" data-count-delay="200">900</span>+</h2>
                    <h5>Client review</h5>
                    <p>Lorem Ipsum is simply is dumi omy iois text Loremo Ipsum is simiply is out nho our o dummy text.</p>
                </div>
            </li>
        </ul>
    </div>
</section> 
<!-- Counting Items End -->
<!-- Our Team Start -->   
<section class="our-team bg-cover-bottom pt-xl-spach v1">
    <div class="container">
        <div class="section-title-center-white">
            <h6>Our Team</h6>
            <h2>our dedicateds</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="team-card">
                    <div class="team-card-img">
                        <img src="../../../assets/images/our-team/team2.jpg" alt="team-img">
                    </div>
                    <div class="team-card-text">
                        <h5><a href="#">Chinmayee Khatua</a></h5>
                        <p>Director</p>
                        <ul class="social-link">
                            <li><a href="#"><span class="my-icon fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="my-icon fa fa-facebook-official"></span></a></li>
                            <li><a href="#"><span class="my-icon fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="team-card">
                    <div class="team-card-img">
                        <img src="../../../assets/images/our-team/team3.jpg" alt="team-img">
                    </div>
                    <div class="team-card-text">
                        <h5><a href="#">Bibhuti Bhusan Rout</a></h5>
                        <p>Sales Manager Head</p>
                        <ul class="social-link">
                            <li><a href="#"><span class="my-icon fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="my-icon fa fa-facebook-official"></span></a></li>
                            <li><a href="#"><span class="my-icon fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="team-card">
                    <div class="team-card-img">
                        <img src="../../../assets/images/our-team/team1.jpg" alt="team-img">
                    </div>
                    <div class="team-card-text">
                        <h5><a href="#">Ranjan Ku. Parida</a></h5>
                        <p>Sales Manager</p>
                        <ul class="social-link">
                            <li><a href="#"><span class="my-icon fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="my-icon fa fa-facebook-official"></span></a></li>
                            <li><a href="#"><span class="my-icon fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="team-card">
                    <div class="team-card-img">
                        <img src="../../../assets/images/our-team/team4.jpg" alt="team-img">
                    </div>
                    <div class="team-card-text">
                        <h5><a href="#">Manas Ku. Sahoo</a></h5>
                        <p>Sales Executive Head</p>
                        <ul class="social-link">
                            <li><a href="#"><span class="my-icon fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="my-icon fa fa-facebook-official"></span></a></li>
                            <li><a href="#"><span class="my-icon fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Team End -->
<!-- Testimonial Start -->
<section class="testimonial bg-cover-bottom v1" data-background="../../../assets/images/testimonial/bg.png">
    <div class="container">
        <div class="section-title-center">
            <h6>Testimonial</h6>
            <h2>What our clients say? </h2>
            <p>For your car we will do everything advice, repairs and maintenance. We are the some preferred choice by many car owners because our experience and</p>
        </div>
        <div class="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide testimonial-card">
                    <div class="test-bg" data-background="../../../assets/images/testimonial/shap.png"></div>
                    <div class="test-icon">
                        <span class="my-icon icon-quote-right"></span>
                    </div>
                    <ul class="star-mark star-5">
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                    </ul>
                    <h5>Cody Fisher</h5>
                    <h6>Marketing Coordinator</h6>
                    <p>Financial planners help people to knowledge in about how to invest and save their moneye the most efficient way eve.planners help people to knowledge in about how.</p>
                    <div class="profile-img">
                        <img src="../../../assets/images/testimonial/profile-1.png" alt="profile">
                    </div>
                </div>
                <div class="swiper-slide testimonial-card">
                    <div class="test-bg" data-background="../../../assets/images/testimonial/shap.png"></div>
                    <div class="test-icon">
                        <span class="my-icon icon-quote-right"></span>
                    </div>
                    <ul class="star-mark star-5">
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                    </ul>
                    <h5>Esther Howard</h5>
                    <h6>Marketing Coordinator</h6>
                    <p>Financial planners help people to knowledge in about how to invest and save their moneye the most efficient way eve.planners help people to knowledge in about how.</p>
                    <div class="profile-img">
                        <img src="../../../assets/images/testimonial/profile-2.png" alt="profile">
                    </div>
                </div>
                <div class="swiper-slide testimonial-card">
                    <div class="test-bg" data-background="../../../assets/images/testimonial/shap.png"></div>
                    <div class="test-icon">
                        <span class="my-icon icon-quote-right"></span>
                    </div>
                    <ul class="star-mark star-5">
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                        <li><span class="my-icon icon-star"></span></li>
                    </ul>
                    <h5>Brooklyn Simmons</h5>
                    <h6>Marketing Coordinator</h6>
                    <p>Financial planners help people to knowledge in about how to invest and save their moneye the most efficient way eve.planners help people to knowledge in about how.</p>
                    <div class="profile-img">
                        <img src="../../../assets/images/testimonial/profile-3.png" alt="profile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial End -->
<!-- Our Blogs Start -->
<section class="our-blogs v1">
    <div class="container">
        <div class="section-title title-left-right">
            <div class="left-content">
                <h6>our blogs</h6>
                <h2>Let’s Checkout our All Latests Blog </h2>
            </div>
            <div class="right-content text-end">
                <a href="#" class="link-anime v1">Discover More +</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card-img">
                        <span class="tag">NEWS</span>
                        <a href="blog-details.html">
                            <img src="../../../assets/images/our-blogs/card-img-1.jpg" alt="card-img">
                        </a>
                    </div>
                    <div class="blog-card-text">
                        <h4><a href="blog-details.html">Exploring in Modern Agriculture</a></h4>
                        <p>Lorem Ipsum is simply is dumi omy is text Loremo Ipsum is simply is out no our o dummy text.Lorem Ipsum is simply</p>
                        <div class="profile">
                            <div class="profile-img">
                                <img src="../../../assets/images/our-blogs/profile-1.png" alt="profile">
                            </div>
                            <div class="profile-info">
                                <h6>Kristin Watson</h6>
                                <p>May 11,2022</p>
                            </div>
                        </div>
                        <div class="card-shap" data-background="../../../assets/images/our-blogs/shap.png"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card-img">
                        <span class="tag">NEWS</span>
                        <a href="blog-details.html">
                            <img src="../../../assets/images/our-blogs/card-img-2.jpg" alt="card-img">
                        </a>
                    </div>
                    <div class="blog-card-text">
                        <h4><a href="blog-details.html">Revolutionizing the Agricultural Industry</a></h4>
                        <p>Lorem Ipsum is simply is dumi omy is text Loremo Ipsum is simply is out no our o dummy text.Lorem Ipsum is simply</p>
                        <div class="profile">
                            <div class="profile-img">
                                <img src="../../../assets/images/our-blogs/profile-2.png" alt="profile">
                            </div>
                            <div class="profile-info">
                                <h6>Robert Foxster</h6>
                                <p>May 11,2022</p>
                            </div>
                        </div>
                        <div class="card-shap" data-background="../../../assets/images/our-blogs/shap.png"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <div class="blog-card-img">
                        <span class="tag">NEWS</span>
                        <a href="blog-details.html">
                            <img src="../../../assets/images/our-blogs/card-img-3.jpg" alt="card-img">
                        </a>
                    </div>
                    <div class="blog-card-text">
                        <h4><a href="blog-details.html">The Role of Technology and Sustainable</a></h4>
                        <p>Lorem Ipsum is simply is dumi omy is text Loremo Ipsum is simply is out no our o dummy text.Lorem Ipsum is simply</p>
                        <div class="profile">
                            <div class="profile-img">
                                <img src="../../../assets/images/our-blogs/profile-3.png" alt="profile">
                            </div>
                            <div class="profile-info">
                                <h6>Marvin McKinney</h6>
                                <p>May 11,2022</p>
                            </div>
                        </div>
                        <div class="card-shap" data-background="../../../assets/images/our-blogs/shap.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Blogs End -->