<app-breadcum [pageName]="currentPage"></app-breadcum>
<!-- Map Info Start -->
<section>
    <div class="container">
        <ngb-accordion class="mb-2" id="acc1" #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel id="detailAcc">
              <ng-template ngbPanelTitle>
                <span>Faq 1</span>
              </ng-template>
              <ng-template ngbPanelContent> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quae dicta! Cumque harum sit hic ducimus saepe obcaecati magni vero! Expedita error dolores aliquid explicabo alias possimus molestiae fugiat unde? </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <br>
          <ngb-accordion id="acc2" #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel id="detailAcc">
              <ng-template ngbPanelTitle>
                <span>Faq 2</span>
              </ng-template>
              <ng-template ngbPanelContent> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quae dicta! Cumque harum sit hic ducimus saepe obcaecati magni vero! Expedita error dolores aliquid explicabo alias possimus molestiae fugiat unde? </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <br>
          <ngb-accordion id="acc3" #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel id="detailAcc">
              <ng-template ngbPanelTitle>
                <span>Faq 3</span>
              </ng-template>
              <ng-template ngbPanelContent> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quae dicta! Cumque harum sit hic ducimus saepe obcaecati magni vero! Expedita error dolores aliquid explicabo alias possimus molestiae fugiat unde? </ng-template>
            </ngb-panel>
          </ngb-accordion>
    </div>
</section>
<!-- Map Info End -->
